<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout::relics"></head>
<body>
<header th:replace="fragments/layout::header"></header>
<div th:replace="fragments/layout::navbar"></div>
<div class="container"><br>
    <div class="row">
        <div class="col-sm">
            <h1>Commander</h1><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Rules</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1. Multiplayer. 3-6 players.</li>
                <li class="list-group-item">2. Singleton decks with 99 cards only. 1 legendary creature as you commander</li>
                <li class="list-group-item">3. Deck can only contain cards in the same color identity as your commander</li>
                <li class="list-group-item">4. Commander legal cards only</li>
                <li class="list-group-item">5. Players start at 40 hp</li>
                <li class="list-group-item">6. Last man standing wins</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Wins</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player: ${commanderStanding}">
                    <td th:text="${player.player_name}"></td>
                    <td th:text="${player.wins}"></td>
                    <td><a th:href="@{/playerDetails(player_id=${player.player_id})}" class="btn btn-secondary" >Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><br>
<footer th:replace="fragments/layout::footer"></footer>
</body>
<th:block th:replace="fragments/layout::scripts"/>
</html>