<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout::relics"></head>
<body>
<header th:replace="fragments/layout::header"></header>
<div th:replace="fragments/layout::navbar"></div>
<div class="container"><br>
    <div class="row">
        <div class="col-sm" style="height: 600px">
            <div class="container text-center">
                <h1>Under construction.</h1>
            </div>
        </div>
    </div>
</div><br>
<footer th:replace="fragments/layout::footer"></footer>
</body>
<th:block th:replace="fragments/layout::scripts"/>
</html>