<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout::relics"></head>
<body>
<header th:replace="fragments/layout::header"></header>
<div th:replace="fragments/layout::navbar"></div>
<div class="container"><br>
    <div class="row">
        <div class="col-sm">
            <h1 th:text="${player.player_name}"></h1>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <div th:replace="fragments/miscellaneous::deckColorsImg"></div>
        </div>
        <div class="col-sm-8">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Deck name</th>
                    <th>Deck colors</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deck: ${deck_list}">
                    <td th:text="${deck.deck_name}"></td>
                    <td th:text="${deck.deck_colors}"></td>
                    <td><a th:href="@{/deckDetails(deck_id=${deck.deck_id})}" class="btn btn-secondary" >Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><br>
<footer th:replace="fragments/layout::footer"></footer>
</body>
<th:block th:replace="fragments/layout::scripts"/>
</html>