<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout::relics"></head>
<body>
<header th:replace="fragments/layout::header"></header>
<div th:replace="fragments/layout::navbar"></div>
<div class="container"><br>
    <div class="row">
        <div class="col-sm">
            <h1>Standard</h1><h2>Best of 1</h2><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Rules</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1. Standard legal cards only.</li>
                <li class="list-group-item">2. Roll a dice at the beginning of the first match. Winner chooses to be on the play or on the draw.</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Difference</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player: ${standardbo1Standing}">
                    <td th:text="${player.player_name}"></td>
                    <td th:text="${player.wins}"></td>
                    <td th:text="${player.losses}"></td>
                    <td th:text="${player.difference}"></td>
                    <td><a th:href="@{/playerDetails(player_id=${player.player_id})}" class="btn btn-secondary" >Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><br>
<footer th:replace="fragments/layout::footer"></footer>
</body>
<th:block th:replace="fragments/layout::scripts"/>
</html>